.levels {
  margin-bottom: 30px;
}

.levels__title {
  padding: 20px;
}

.levels__item {
  display: block;
  padding: 10px 10px 10px 30px;
  margin-top: 10px;
  color: #777;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease;
}

.levels__item-active {
  background-color: #2e2a23;
}

.levels__item-complete .complete-icon {
  border-color: #4cbb4a;
}

.levels__item:hover {
  background-color: #2e2a23;
}

.levels__item:active {
  opacity: .6;
}

.complete-icon {
  display: inline-block;
  width: 12px;
  height: 20px;
  margin: 0 15px 0 0;
  border: solid 3px #777;
  border-width: 0 4px 4px 0;
  transform: rotate(40deg);
  transition: all .3s ease;
}

.reset-button {
  display: block;
  width: calc(100% - 40px);
  padding: 9px 0 11px;
  margin: 30px auto 0;
  border: solid 2px rgba(255,255,255,.2);
  color: rgba(255,255,255,.4);
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #2e2a23;
}

.reset-button:active {
  opacity: .6;
}

.use-hint {
  color: rgb(254, 165, 0);
}

@media (max-width: 1023px) {
  .levels {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .levels__title {
    padding: 6px;
  }

  .levels__item {
    padding: 10px;
    margin: 0;
  }

  .reset-button {
    width: 200px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
}