* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e2a23;
  font-family: 'Exo 2', sans-serif;
  color: #777;
  font-size: 24px;
  display: flex;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 375px);
  height: 100vh;
}

.header {
  padding: 15px;
}

.header__title {
  font-size: 18px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  padding: 20px 0;
}

.github-image {
  width: 55px;
}

.rss-image {
  width: 55px;
}

.right-column {
  position: fixed;
  right: 0;
  width: 375px;
  height: 100vh;
  background-color: #221e18;
}

@media (max-width: 1023px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .left-column {
    width: 100%;
    order: 1;
  }

  .right-column {
    position: static;
    order: 0;
    width: 100%;
    height: 100%;
  }
}