.task {
  padding: 20px 30px;
}

.task__condition {
  text-align: center;
  font-weight: 400;
  font-size: 45px;
}

.game {
  display: flex;
  padding: 60px 0;
}

.game__table {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin: 0 auto;
  padding: 30px 40px;
  border: 5px solid #b6812b;
  box-shadow: 5px 5px 10px #000;
  background-color: #dd992d;
}