.task {
  padding: 20px 30px;
}

.task__condition {
  text-align: center;
  font-weight: 400;
  font-size: 45px;
}

.game {
  display: flex;
  padding: 60px 0;
}

.game__table {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin: 0 auto;
  padding: 30px 40px;
  border: 5px solid #b6812b;
  box-shadow: 5px 5px 10px #000;
  background-color: #dd992d;
}

circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #b6812b;
  border: 1px solid #a57527;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #000;
}

square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #a57527;
  background: #b6812b;
  box-shadow: 5px 5px 10px #000;
}

cigarette {
  width: 10px;
  height: 60px;
  background: #c4c0c0;
  border-top: 4px solid #ff0000;
  border-bottom: 20px solid rgb(196, 77, 3);
  box-shadow: 5px 5px 10px #000;
}

pickle {
  width: 20px;
  height: 60px;
  background: green;
  border: 2px solid rgb(1, 96, 1);
  border-bottom: 8px solid rgb(1, 96, 1);
  border-radius: 41%;
  box-shadow: 5px 5px 10px #000;
}

orange {
  width: 75px;
  height: 75px;
  background: rgb(188, 109, 5);
  border: 1px solid rgb(139, 80, 4);
  border-bottom: 6px solid rgb(139, 80, 4);
  border-radius: 48%;
  box-shadow: 5px 5px 10px #000;
}

ball {
  width: 75px;
  height: 75px;
  background: rgb(177, 30, 30);
  border: 1px solid rgb(170, 50, 50);
  border-top: 5px solid rgb(223, 61, 61);
  border-bottom: 6px solid rgb(117, 20, 20);
  border-radius: 48%;
  box-shadow: 5px 5px 10px #000;
}

.small {
  width: 50px;
  height: 50px;
}

.small-pickle {
  width: 13px;
  height: 38px;
}

.active {
  animation-duration: .8s;
  animation-name: active-shape;
  animation-iteration-count: infinite;
  box-shadow: 5px 5px 10px #ffffff;
}

#border {
  border: 12px solid #825b1d;
}

@keyframes active-shape {
  0% {
    transform: skew(6deg);
  }
  50% {
    transform: skew(-6deg);
  }
  100% {
    transform: skew(6deg);
  }
}